*{
    box-sizing: border-box;
}


body {
    text-align: center;
    line-height: 1.5;
    background-color: #99989a ;
    text-align: center;
}

header h1 {
    color: whitesmoke;
    font-size: xx-large;
  }

p{
  height: 160%;
  text-align: center;

}

  nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    list-style-type: none;
    
  }

li{
justify-content: flex-end;
margin-left: 50px;
margin: 30;

}
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
header, footer{
    height: 40px;
    
    bottom: 0px;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



button{
    height: 6vh;
    width: 10vw;
    margin: 1vw auto 3vw ;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #f5f5f5;

}

button:hover {
  height: 6vh;
  width: 10vw;
  background-color: rgba(129, 123, 123, 0.787);

}






html, body {
    height: 90%;
    margin: 0;
  }
  .r {
    min-height: 100%;
  
    margin-bottom: -50px;
  }
  .footer,
  .p{
    height: 50px;
  }
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  body {
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/62/37/open-book-gray-background-vector-13386237.jpg");
    background-color: #cccccc;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    background-size: cover; /* Resize the background image to cover the entire container */

   }
  

  .hidden{
      display: none;
  }

  a:hover {
    cursor: pointer;
  }

 
